Repository topjohnwu/Magisk, pull requests merged in 2023-10, with the labels that each got.

#7407 typo fix
  docs/build.md
  docs/install.md
Labels: documentation

#7381 Fix $RECOVERYMODE from config being incorrectly overridden
  app/src/main/res/raw/manager.sh
  scripts/util_functions.sh
Labels: APP, Core

#7202 suBiometric: remove biometric library
  app/build.gradle.kts
  app/src/main/java/com/topjohnwu/magisk/core/utils/BiometricHelper.kt
  stub/src/main/AndroidManifest.xml
Labels: enhancement, APP
